* {
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

img {
    width: 100%;
}

.logo {
    width: 50%;
}

body {
    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: auto;
    
    
}

article {
    background-color: #fff;
}

.def-articulo {
    border-top: 1px solid #ebebeb;
    margin: 50px 0;
}

.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img {
    max-width: 320px;
    height: auto;
    margin: auto;
}